.cartOpened{
    height: 2.9rem;
    display: flex;
    align-content: center;
    font-size: 2rem;
    font-family: sans-serif;
    justify-content: center;
    border: 1px solid black;
    background-color: black;
    color: white;
}