#navbarFiller1{
    width: 20%;
}

#navbar{
    display: flex;
    height: 3rem;
    background-color: #2874f0;
}

#logo{
    border-radius: 0.3rem;
    margin: 0.4rem;
    margin-right: 0.5rem;
}

#searchBar{
    margin: 0.4rem;
    width: 30rem;
    padding: 0.5rem;
}

#navbarFiller2{
    width: 32%;
}

span#cartarea{
    display: flex;
    align-content: flex-end;
    border-radius: 10px;
    background-color: white;
    border:2px solid black;
    margin: 0.2rem 0.5rem 0.2rem 0rem;
}

span#numOfItems{
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
}

img#cart{
    padding: 3px;
    display: flex;
    justify-content: flex-end;
}